<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="https://www.seekpng.com/png/detail/125-1256728_shop-domain-logo-shop-domain-logo.png" height="15" alt="MDB Logo" loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/product']">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'d-none': role==='User' || login === false}" [routerLink]="['/create-product']">Create Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'d-none': role==='User' || login === false }" [routerLink]="['/create-category']">Create Category</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'d-none': role==='Admin' || login === false}" [routerLink]="['/my-orders']">My Orders</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'d-none': role==='User' || login === false}" [routerLink]="['/orders']">View Orders</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li> -->
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <!-- <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a> -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item" [ngClass]="{'d-none': login===true}">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" [ngClass]="{'d-none': login===true}">
                    <a class="nav-link" [routerLink]="['/register']">Register</a>
                </li>

                <li class="nav-item" [ngClass]="{'d-none': login===false}">
                    <button (click)="logout()" class="btn">Logout</button>
                </li>
            </ul>
            <!-- Notifications -->
            <!-- <div class="dropdown">
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </div> -->
            <!-- Avatar -->
            <!-- <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->