<div class="container">
    <div class="row">
        <form [formGroup]="myForm" (submit)="send()">
            <div class="d-flex mt-5 justify-content-between">
                <input type="text" class="form-control" formControlName="catName" placeholder="Enter New Category Name">
                <button type="submit" class="btn btn-primary ms-2">+Add</button>
            </div>
        </form>


    </div>

    <div class="row mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Category Name</th>

                </tr>
            </thead>
            <tbody *ngFor="let item of categories let index = index; trackBy:trackByIndex">

                <tr>
                    <th scope="row">{{index+1}}</th>
                    <td>{{item.categoryName}}</td>



                </tr>


            </tbody>
        </table>
    </div>
</div>