<div class="container">
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Order Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Customer</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Address</th>



            </tr>
        </thead>
        <tbody *ngFor="let item of orders let index = index; trackBy:trackByIndex">
            <tr>
                <th scope="row">{{index+1}}</th>
                <td>{{item.orderId}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.customer}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.address}}</td>

            </tr>

        </tbody>
    </table>
</div>